.centered {
    text-align: center;
}

.top-margin {
    margin-top: 1rem;
}

button {
    background: #0f0c4e;
    color: #949393;
}

.links button {
    margin-left: 1rem;
}

.rounded_image {
    border-radius: 50%;
}